@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
body {
    font-family: 'Red Hat Display', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
}
.preloader {
    background-image: url('../Images/plane-flying2.gif');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    width: 100%;
    height: 100vh;
    font-family: 'Red Hat Display', sans-serif;
    z-index: 9999;
    animation: holdThenFade 3s ease-in-out forwards;
}
.preloader h1{
    font-size: 6rem;
    margin: 0;
    position: absolute;
    top: 30.5rem;
    left:0;
    right: 0;
    color: #001F3F;
}

/* Hold for 2.5s, then fade out over 1.5s */
@keyframes holdThenFade {
    0% { opacity: 1; }  /* Fully visible */
    62.5% { opacity: 1; } /* Hold for ~2.5s */
    100% { opacity: 0; visibility: hidden; } /* Fade out over 1.5s */
}

header {
    background-color: rgba(5,78,161,255);
    color: rgba(207,244,254,255);
    padding: 6px;
    font-size: 2rem;
}
header h1 {
    margin: 0px;
}
header p {
    font-size: 1.2rem;
    margin:0px;
}
nav ul {
    list-style: none;
    padding: 5px;
    background-color:  rgba(139,209,242,255);
    margin: 0;
    display: flex; 
    gap: 15px; 
    align-items: center;
    justify-content: center; 
}

nav ul li {
    padding: 5px 15px;
}

nav ul li a {
    font-family: 'Red Hat Display', sans-serif;
    color: #000000;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 8px;
    border-radius: 20px;
    letter-spacing: 3px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    display: inline-block; 
    transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}


nav ul li a:hover {
    color: rgb(250, 250, 246);
    transform: scale(1.2); 
    text-decoration: underline;
}

.block {
    background-image: url('../Images/plane-flying.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 70px 20px;
    height: 18rem; 
    overflow-y: hidden; 
}
.block-content{
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
    padding: 20px;
    color: rgb(0, 0, 0);
    position: absolute;
    top: 12.5rem;
    left:0;
    right: 0;
   
}
.btn {
    background-color: rgba(238,117,111,255);
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    display: inline-block;
    margin-top: 15px;
    border-radius: 5px;
    font-weight: bold;
}
