@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300..900&display=swap');

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../Images/world-monuments.gif'); /* Ensure correct path */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(139, 209, 242, 255);
    font-family: 'Red Hat Display', sans-serif;
}

.result-container {
    background: rgba(255, 255, 255, 0.15);
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(15px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 40rem;
    width: 100%;
    animation: fadeIn 1s ease-in-out;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    color: rgba(5, 78, 161, 1);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

p {
    font-size: 1.2rem;
    font-weight: 600;
    color: rgba(5, 78, 161, 1);
    margin: 10px 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
