@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
body{
    background-image: url('background.webp');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #f4f4f4;
    height: 100%;
    width: 100%;
    margin: 0;
    overflow-x: hidden

}

.navbar {
    font-family: 'Italiana';
    display: flex;
    justify-content: center; 
    align-items: center;
    color: rgba(221, 255, 0, 0.7);
    padding: 10px 20px;
    width: 100%;
    position: relative; 
    top:0px;   
    font-weight: 700;
    left:-30px;
    background-color: black;
    padding:15px;
    right:0px;

}

.navlinks {
    display: flex;
    gap: 150px;
    align-items: center;
    padding:20px;
}


.navlinks a {
    color: rgba(221, 255, 0, 0.8);
    text-decoration: none;
    font-size: 1.5rem;
    padding: 8px; 
    border-radius: 20px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.navlinks a:hover {
    color: rgb(250, 250, 246);
    background-color: rgba(0, 0, 0, 0.2);
    transform: scale(1.2); 
}

.booking-form {
    display: flex;
    gap: 10px;
    background: rgba(0, 0, 0, 0.5);
    width:100%;
    right:0px;
    left:0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding:23px;
    justify-content: center;
    margin-top:20rem;
    font-family: 'Italiana';
}

.booking-form input,
.booking-form select,
.booking-form button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.booking-form button {
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

.booking-form button:hover {
    background-color: #0056b3;
}